body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 8px 400px;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 16px;
}

img {
    width: auto;
    height: 300px;
}

.content {
    background-color: #1F2937;
    color: white;
    padding: 75px 400px;
    display: flex;
    gap: 128px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.sign-up {
    border: 0;
    font-weight: bold;
    color: white;
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 50px;
    margin-bottom: 100px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}



.card-container {
    display: flex;

    gap: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 8px;
}

.card img {
    border: 4px solid #3882F6;
    border-radius: 25px;
    height: auto;
    box-sizing: border-box;
    width: 200px;
}

.card div {
    color: #1F2937;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 150px 500px;
    justify-content: center;
    align-items: center;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-credit {
    align-self: flex-end;
    font-weight: 800;
    font-size: 24px;
}

.call-to-action {
    padding: 100px 300px;
}

.call-content {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px 100px;
    display: flex;
}

.call-text {
    color: white;
}

.call-header {
    font-weight: 800;
    font-size: 24px;
}

.call-content button {
    padding: 0;
    margin-left: auto;
    border: 2px solid white;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 800;
    width: 125px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 40px;
    margin-top: auto;
}

.footer-text {
    color: white;
    font-size: 16px;
}